In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
%matplotlib inline

In [10]:
eth = pd.read_csv('Updated-Ethereum History(2019-2023).csv')

In [12]:
eth.head()

         Date     Open     High      Low    Close
0  01/04/2023  1210.95  1270.50  1209.61  1252.16
1  01/03/2023  1219.58  1219.65  1205.82  1210.65
2  01/02/2023  1202.11  1221.34  1192.89  1221.34
3  01/01/2023  1199.52  1203.55  1190.86  1202.11
4  12/31/2022  1197.51  1206.99  1192.00  1199.52

In [13]:
X = eth[['Date','Open','High','Low']]

In [14]:
y = eth['Close']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [16]:
X_train

            Date     Open     High      Low
613   04/29/2021  2711.17  2799.99  2675.41
1303  06/07/2019   241.24   254.11   241.17
486   09/03/2021  3808.77  4027.56  3715.41
561   06/20/2021  2225.64  2261.99  2047.02
308   03/02/2022  2954.09  3036.89  2917.49
...          ...      ...      ...      ...
1130  11/27/2019   148.08   155.87   141.16
1294  06/16/2019   269.59   278.80   263.35
860   08/23/2020   388.65   396.90   384.01
1459  01/02/2019   137.70   155.95   136.64
1126  12/01/2019   152.00   152.74   146.00

[978 rows x 4 columns]

In [17]:
X_test

            Date     Open     High      Low
892   07/22/2020   245.08   246.19   242.18
1105  12/22/2019   127.02   133.19   127.00
413   11/15/2021  4576.79  4768.63  4544.62
522   07/29/2021  2298.19  2337.00  2266.50
1036  02/29/2020   226.11   233.31   221.50
...          ...      ...      ...      ...
390   12/08/2021  4292.42  4454.40  4234.92
1409  02/21/2019   145.12   148.54   141.82
847   09/05/2020   391.78   394.50   311.04
1284  06/26/2019   308.67   362.89   308.50
615   04/27/2021  2458.30  2680.29  2431.60

[483 rows x 4 columns]

In [18]:
y_train

613     2712.80
1303     247.98
486     3917.19
561     2254.99
308     2963.89
         ...
1130     153.67
1294     266.38
860      392.69
1459     154.55
1126     150.99
Name: Close, Length: 978, dtype: float64

In [19]:
lreg = LinearRegression()

In [25]:
eth['Year'] = eth['Date'].dt.year
eth['Month'] = eth['Date'].dt.month
eth['Day'] = eth['Date'].dt.day

AttributeError: Can only use .dt accessor with datetimelike values

In [24]:
# Training Step 
eth['Date'] = pd.to_datetime(eth['Date']).astype(int)

lreg.fit(X_train,y_train)

TypeError: Converting from datetime64[ns] to int32 is not supported. Do obj.astype('int64').astype(dtype) instead